[Desktop Entry]
Name=Sample Application
Comment=Demo entry shipped with the Ubuntu Unity Software Center sources
Exec=gnome-calculator
Icon=org.ubuntuunity.software
Terminal=false
Type=Application
Categories=Utility;
